body {
    background-color: #CFE3E6;
}

nav {
    display: block;
    color: blanchedalmond;
    
}

ul {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #473F8C;
  
    
}

a   {
    text-decoration: none;
    color: blanchedalmond;
}


.services {
    display: flex;
    justify-content: space-around;

}

.serv-items {
    display: flex;
    height: 200px;
    width: 150px;
    gap: 3;
    text-align: center;
    background-color: blanchedalmond;
    align-items: center;
}